
<div class="box">
    <strong><h3>User</h3></strong>
    <p>Name: <%= @user.name if @user.name %></p>
    <p>Email: <%= @user.email if @user.email %></p>
    <strong><h3>Post</h3></strong>
    <% @user_posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <br>
        
        <td><i><%= link_to 'Show', post ,class: 'link-to-text-color' %></i></td>
        <td><i><%= link_to 'Edit', edit_post_path(post),class: 'link-to-text-color' %></i></td>
        <td><i><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: 'link-to-text-color' %></i></td>
        <br><br>
        
      </tr>
    <% end %>
</div>



