<strong><h1>Post</h1></strong>
<p>
  <strong >User:</strong>
  <%= @post.user.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <div style="width: 700px; overflow: auto; height: 150px; margin:0px 35px">
    <%= @post.content %>
  </div>
</p>
<%= image_tag @post.image.url(:medium), :class => "image-align" %>
<br>
<p>
<%= link_to 'Back', posts_path,class: 'link-to-text-color' %>
</p>
<br>
<strong><h1>Comment</h1></strong>
<%= render 'comments/comment'%>

